{% extends "base.html" %}

{% block content %}
<h2>Types of Coffee</h2>
<ul>
    <li>
        <strong>Espresso</strong>
        <p>A full-flavored, concentrated form of coffee served in “shots.”</p>
    </li>
    <li>
        <strong>Americano</strong>
        <p>A style of coffee prepared by adding hot water to espresso.</p>
    </li>
    <li>
        <strong>Latte</strong>
        <p>A coffee drink made with espresso and steamed milk.</p>
    </li>
    <li>
        <strong>Cappuccino</strong>
        <p>An espresso-based coffee drink that originated in Italy, and is traditionally prepared with steamed milk foam.</p>
    </li>
    <li>
        <strong>Mocha</strong>
        <p>A chocolate-flavored variant of a caffè latte.</p>
    </li>
    <li>
        <strong>Macchiato</strong>
        <p>An espresso coffee drink with a small amount of milk, usually foamed.</p>
    </li>
</ul>
{% endblock %}
